﻿@model wersja_ostateczna_forum.Models.IndexViewModel
@using Microsoft.AspNet.Identity
@using wersja_ostateczna_forum.Controllers

@{
    var usr = AccountController.GetyUserById(User.Identity.GetUserId());
 }
<div class="container">
    <div style="height: 50px;background-color:#556a7f" class="row"></div>
    <div class="row" id="kolumna">
        <div style="text-align: center;
vertical-align: middle;height: 350px;border: 1px solid #e3e3e3;
  border-radius: 4px;" class="col-md-2" id="lewa">
            <div class="row" style="text-align: center;
vertical-align: middle; padding-top:5px;"><img src="@Url.Content(usr.Avatar)" width="85" height="85" style="border-radius: 50%; padding-bottom:5px;text-align: center;
vertical-align: middle;" /></div>
            <div class="row">@usr.Nick</div>
            <div class="row">@usr.Reputation</div>
            <div class="row">Inbox</div>
            <div class="row">Send a message</div>
            <div class="row">
                @if (Model.HasPassword)
            {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
            </div>

            

        </div>
        <div style="height: 300px;border: 1px solid #e3e3e3;
  border-radius: 4px;" class="col-md-10" id="prawa">
            <div class="row"><h3>Summary</h3></div>
            <div class="row">@usr.Rank.Name</div>
            <div class="row">@usr.LastLogin</div>
            <div class="row">@usr.Email</div>
            <div class="row">
                @{ 
                    if(usr.Active == true)
                    {
                        <div>Active</div>
                    }
                    else
                    {
                        <div>Banned</div>
                    }
                }
            </div>
            <div class="row" style="height:200px;">
                @{ if(usr.Posts.Count()>=1)
                    {
                        var thread = ThreadsController.GetThreadByID(usr.Posts.LastOrDefault().ThreadID);
                           <div class="row">
                               <div class="col-md-6">
                                   Last posted: @usr.Posts.LastOrDefault().Content
                               </div>
                               
                               <div class="col-md-6">
                                   in @thread.Title
                               </div>
                           </div>
                    }
                    else
                    {
                        <div>There is nothing to display.</div>
                    }
                        }
            </div>
            
        </div>
    </div>
    <div style="height: 50px;background-color:#556a7f" class="row"></div>
</div>
