﻿@using Microsoft.AspNet.Identity
@model wersja_ostateczna_forum.Models.Category_Topic_Post

@{
    ViewBag.Title = "create_topic";
}
<h2>create_topic</h2>
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("create_topic", "Categories", FormMethod.Post))
    { 
@Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Thread</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
            </div>
            @Html.Hidden("CategoryID", (object)ViewBag.dzialaj);


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
}
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
}