﻿@using PagedList;
@using PagedList.Mvc;
@using wersja_ostateczna_forum.Controllers
@model  IPagedList<wersja_ostateczna_forum.Models.Thread>

@{
    ViewBag.Title = "Details";

}
<style>
    #kategoria:hover {
        background-color: #889daf;
        color: white;
    }

    a {
        color: #0a0226;
    }

        a:hover {
            color:#11737d;
            text-decoration: none;
        }
</style>
<div class="container" style="border: 1px solid #e3e3e3;
  border-radius: 4px;">
    <div class="row" style="height: 70px;background-color:#889daf; padding-left:5px; padding-top:10px; padding-right:10px;">
    <div class="col-md-12"><h4>@ViewBag.kategoria</h4></div>

    </div>
    <div class="row" style="height: 50px;background-color:#556a7f;padding-top:5px;">
        @if (Request.IsAuthenticated)
        {
            <div class="col-md-offset-10">
                <div class="col-md-3"></div>
        <div class="btn btn-default col-md-9" style="text-align:center; height:35px; width:120px;"><h4>@Html.ActionLink("New thread", "create_topic", new { CategoryID = Model.FirstOrDefault().CategoryID })</h4></div>
            </div>

        }
    </div>
@foreach (var item in Model)
{


    <div class="row" style="border: 1px solid #e3e3e3;
  border-radius: 4px">
            <div style="height: 70px; padding-top:5px; padding-left:5px;" class="col-md-8">
                <a href="@Url.Action("topic", "Threads", new { id = item.ThreadID }, null)">

                    <div class="tiletext"><h4>@item.Title</h4></div>
                </a>
                        <div class="tilesubtext">By @item.Owner, @string.Format("{0:dd}{1} {0:MMMM yyyy}", item.DateTime, "")</div>
                       
                    
                
            </div>
        <div style="height: 70px;" class="col-md-1">
            <div class="row" style="padding-top:5px; text-align:center;">@item.Posts.Count()</div>
            <div class="row" style="text-align:center">Replies</div>
            
        </div>
        <div style="height: 70px;" class="col-md-3">
            <div class="col-md-4" style="padding-top:5px">

                <img src="@Url.Content(@item.Posts.LastOrDefault().User.Avatar)" width="65" height="65" style="border-radius: 50%; padding-bottom:5px;text-align: center;
vertical-align: middle;" />

            </div>
            <div class="col-md-8" style="text-align:center; padding-top:5px;">

       

                <div class="row" style="padding-bottom:5px;">@item.Posts.LastOrDefault().User.Nick</div>
                <div class="row">@string.Format("{0:dd}{1} {0:MMMM yyyy}", item.Posts.LastOrDefault().DateTime, "")</div>
                
            </div>
        </div>
    </div>


                    }
    <div style="height: 50px;background-color:#556a7f" class="row"></div>
</div>
<div style="text-align:right">
    @Html.PagedListPager(Model, page => Url.Action("forum", new { page }))
</div>


