﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="~/Content/Site.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/swipebox.css">
    <!------ Light Box ------>
    <script src="~/Scripts/jquery.swipebox.min.js"></script>
    <script type="text/javascript">
		jQuery(function($) {
			$(".swipebox").swipebox();
		});
    </script>
    <!------ Eng Light Box ------>

</head>
<body>
    <!-- header -->
    <div class="banner">
        <div class="container">
            <div class="header">
                <div class="logo">
                    <a href='@Url.Action("Index", "Home")'>
                        <img src='@Url.Content("~/Content/images/logo.png")' />
                    </a>

                </div>
                <div class="header-right">
                    <ul>
                        <li><span class="glyphicon glyphicon-search" style="vertical-align:middle;" aria-hidden="true"></span></li>
                        <li>
                            <div class="search2">
                                <form>
                                    <input type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}">
                                    <input type="submit" value="Szukaj">
                                </form>
                            </div>
                        </li>
                        
                    </ul>
                    <div class="clearfix"> </div>

                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="head-nav">
                <span class="menu"> </span>
                <ul class="cl-effect-15">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                     <li>@Html.Partial("_LoginPartial")</li>
                    
                </ul>
                <div class="clearfix"> </div>
            </div>

            <!-- script-for-nav -->
            <script>
						$( "span.menu" ).click(function() {
						  $( ".head-nav ul" ).slideToggle(300, function() {
							// Animation complete.
						  });
						});
            </script>
            <!-- script-for-nav -->
        </div>
    </div>
    <!-- header -->
    <div class="main">
        <div class="container">
           @RenderBody()
        </div>
    </div>
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="col-md-3 copy">
                <div class="top1">
                    <i class="ham"></i>
                </div>
                <div class="top2">
                    <h6>Copyrights ©</h6>
                    <p>All rights reserved</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-3 copy">
                <div class="top1">
                    <i class="men"></i>
                </div>
                <div class="top2">
                    <h6>TEST </h6>
                    <p>TEST</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-3 copy">
                <div class="top1">
                    <i class="app"></i>
                </div>
                <div class="top2">
                    <h6>TEST </h6>
                    <p>TEST</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="col-md-3 copy">
                <div class="top1">
                    <i class="lik"></i>
                </div>
                <div class="top2">
                    <h6>TEST </h6>
                    <p>TEST</p>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- footer -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>