﻿@model IEnumerable<wersja_ostateczna_forum.Models.Section>

@{
    ViewBag.Title = "Index";
}


<style>
    #kategoria:hover {
        background-color: #889daf;
        color: white;
    }

    a {
        color: #0a0226;
    }

        a:hover {
            color: #11737d;
            text-decoration: none;
        }
</style>



@foreach (var item in Model)
{
<div class="container" style="border: 1px solid #e3e3e3;
  border-radius: 4px;">
    <div class="row" style="height: 70px;background-color:#889daf; padding-left:5px; padding-top:10px; padding-right:10px;">
        <div class="col-md-12"><h4>@Html.DisplayFor(modelItem => item.Title)</h4></div>

    </div>
    <div class="row" style="height: 50px;background-color:#556a7f;padding-top:5px;">
    </div>



        <div class="row" style="border: 1px solid #e3e3e3;
  border-radius: 4px">



@for (int i = 0; i < item.Categories.Count(); i++)
{<div>
            <div style="border-right: 1px solid #e3e3e3;
  border-radius: 4px;height: 70px; padding-top:5px; padding-left:5px;" class="col-md-6">
                <a href="@Url.Action("forum", "Categories", new { id = item.Categories.ElementAt(i).CategoryID.ToString() }, null)">

                    <div class="tiletext"><h4>@item.Categories.ElementAt(i).Title</h4></div>
                </a>
                <div class="tilesubtext">@item.Categories.ElementAt(i).Description.ToString()</div>



            </div>
            <div style="border-right: 1px solid #e3e3e3;
  border-radius: 4px;height: 70px;" class="col-md-1">
                <div class="row" style="padding-top:5px; text-align:center;">@item.Categories.ElementAt(i).Threads.Count()</div>
                <div class="row" style="text-align:center">Topics</div>

            </div>
            <div class="col-md-2" style="padding-top:25px; text-align:center;vertical-align: middle;">
            <a href="@Url.Action("topic", "Threads", new { id = item.Categories.ElementAtOrDefault(i).Threads.LastOrDefault().ThreadID }, null)">

    <div class="tiletext"><h5>@item.Categories.ElementAtOrDefault(i).Threads.LastOrDefault().Title</h5></div>
</a></div>
            <div style="height: 70px;" class="col-md-3">
                <div class="col-md-4" style="padding-top:5px">

                    <img src="@Url.Content(@item.Categories.ElementAt(i).Threads.LastOrDefault().Posts.LastOrDefault().User.Avatar)" width="65" height="65" style="border-radius: 50%; padding-bottom:5px;text-align: center;
vertical-align: middle;" />

                </div>
                <div class="col-md-8" style="text-align:center; padding-top:5px;">



                    <div class="row" style="padding-bottom:5px;">By @item.Categories.ElementAt(i).Threads.LastOrDefault().Posts.LastOrDefault().User.Nick</div>
                    <div class="row">@string.Format("{0:dd}{1} {0:MMMM yyyy}", @item.Categories.ElementAt(i).Threads.LastOrDefault().Posts.LastOrDefault().DateTime, "")</div>
                    

                </div>
            </div>
            </div>
}
        </div>

    <div style="height: 50px;background-color:#556a7f" class="row"></div>
</div>

}









