﻿@using Microsoft.AspNet.Identity
@using PagedList;
@using PagedList.Mvc;
@model  IPagedList<wersja_ostateczna_forum.Models.Post>
@{
    ViewBag.Title = "Create";

}


@if (Request.IsAuthenticated)
{
using (Html.BeginForm("Do", "Threads", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="padding-top:30px">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-1">

            </div>
            <div class="col-md-10">
                @Html.TextArea("Content", "", new { @class = "form-control", @style = "height:300px; height:200px; resize:none;" }) 
                @Html.ValidationMessageFor(model => model.FirstOrDefault().Content, "", new { @class = "text-danger"})
            </div>
            <div class="col-md-1">

            </div>
        </div>
        @Html.Hidden("ThreadID", Model.FirstOrDefault().ThreadID);
        <div class="form-group">
            <div class="col-md-12" style="text-align:center;">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
}

