﻿@using PagedList;
@using PagedList.Mvc;
@model  IPagedList<wersja_ostateczna_forum.Models.Post>

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <div class="col-lg-12" style="background-color:whitesmoke; height: 70px;color:black;font-size: 20px;padding-left: 5px; padding-top:20px; padding-bottom:50px;">
        @ViewBag.watek
    </div>
</div>
<div class="container" style="border: 1px solid #e3e3e3;
  border-radius: 4px;">
    <div class="row">
        <div class="col-lg-12" style="background-color:#889daf; height: 70px;color:whitesmoke;font-size: 20px;padding-left: 5px; padding-top:20px; padding-bottom:50px;">
            The topic has @ViewBag.liczba_postow posts.
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div id="post">
            <div class="row" id="gorne" style="background-color:#556a7f;">
                <div class="col-lg-3" style="min-height:50px; padding-top:15px; text-align: center;
vertical-align: middle;">
                    @item.User.Nick
                </div>
                <div class="col-lg-9" style="min-height:50px;padding-top:15px;
vertical-align: middle;">
                    @Html.DisplayFor(model => item.DateTime)
                </div>
            </div>
            <div class="row" id="dolne">
                <div class="col-lg-3" style="border-right: 1px solid #e3e3e3;
  border-radius: 4px;min-height: 250px;text-align: center;
vertical-align: middle;">
                    <div class="row" style="padding-top:20px">
                        
                    </div>
                    <div class="row">
                        
                        <img src="@Url.Content(@item.User.Avatar)" width="150" height="150" style="border-radius: 50%; padding-bottom:5px;" />
                        <h4>@item.User.Rank.Name</h4>

                    </div>
                    
                </div>
                <div class="col-lg-9" style="padding-top:5px;min-height: 250px;">
                    @item.Content
                </div>
            </div>
        </div>
    }
</div>
@Html.Partial("post")
<div style="text-align:right">
    @Html.PagedListPager(Model, page => Url.Action("topic", new { page }))
</div>

